<div class="adds">
     <h3>Just fill in the blanks!</h3>
    <input type="text" ng-model="user.name" placeholder="name">
    <input type="text" ng-model="user.age " placeholder="age">
    <input type="text" ng-model="user.holiday" placeholder="holiday">
    <input type="text" ng-model="user.action" placeholder="activity">
    <input type="text" ng-model="user.person" placeholder="person">
    <input type="text" ng-model="user.person2" placeholder="another person">
    <input type="text" ng-model="user.clothing" placeholder="clothing item">
    <input type="text" ng-model="user.greeting" placeholder="greeting">
    <input type="text" ng-model="user.objects" placeholder="things">
    <input type="text" ng-model="user.explicative" placeholder="explicative">
    <input type="text" ng-model="user.location" placeholder="location">
    <input type="text" ng-model="user.object2" placeholder="another thing">
    <input type="text" ng-model="user.activity" placeholder="activity(past-tense)">
    <input type="text" ng-model="user.insult" placeholder="insult">
    <input type="text" ng-model="user.object3" placeholder="another thing">
    <input type="text" ng-model="user.bodypart" placeholder="bodypart">
    <input type="text" ng-model="user.person3" placeholder="another person">
    <input type="text" ng-model="user.transportation" placeholder="mode of transportation">
    <input type="text" ng-model="user.wrestle" placeholder="martial arts move">
    <button type="button" ng-click="go('/lib1/',user)" class="button" name="button1">Submit</button>
</div>
