<div class='libs'>
  <p>My name is {{name}} and I'm {{age}} years old, and this is my story...</p>
  <p>Its {{holiday}}, again and I find myself, as usual, {{action}}, all alone at home.</p>
  <p>I hear a knock at the front door. I sping up from my seat, and go to answer it
    hoping it would be {{person}}.</p>
  <p> To my dismay though, {{person2}} was at the door, dressed in a {{clothing}} as per usual.</p>
  <p>{{greeting}}, "{{name}}! I'm down on my luck and I'm selling {{objects}} to make
    a little extra cash."</p>
  <p>{{explicative}}, why me? "I'm not in the mood to see you." I say to {{person2}}</p>
  <p>{{person2}} just stands there.</p>
  <p>"come on {{name}},remember when we used to go {{activity}} all the time down in {{location}}?"
  "we're friends! Come on help me out!"</p>
  <p>I didn't feel like spending much money, so I figured maybe if I just gave {{person2}} some random junk, they'd go away</p>
  <p>"here, take this {{object2}} and pawn it for some money" I told {{person2}}</p>
  <p>but before {{person2}} could respond {{person}} approaches the house in a fit of rage.</p>
  <p>"Hey! {{person2}}, you {{insult}}, you stay far away from my {{object2}}"</p>
  <p>A fight breaks out between them. {{person}} pulls a {{object3}} in one of their {{clothing}} pockets
    and slaps {{person2}} across the face with it.</p>
  <p>{{person2}} then shoves {{person}}, falling on their {{bodypart}}</p>
  <p>Having enough of this, I call {{person3}} up for a little help. After much waiting, {{person3}}
    arrives in their {{trasportation}}. {{person3}} subdues {{person}} and {{person2}} utilizing a powerful{{wrestle}}, and
    carries them both into their {{transportation}}.</p>
  <p>I have a headache at this point, but I'm greatful this mess is off my lawn. I thank {{person3}}.
    {{person3}} smiles. "Dont't mention it. Hey! While I'm here, I'm down on my luck and I'm selling {{objects}}.Do you wanna buy some?"</p>
  <button type="button" ng-click="go('/#/')" class="button" name="button2">back</button>
</div>
